.caslon-ffmeta h1 {
    font-family: 'Neuton', serif;
    font-size: 36px;
    line-height: 40px;
    color: black;
    font-weight: 700;
}

.caslon-ffmeta p {
    font-family: 'acumin-pro', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 300;
    line-height: 30px;
}

body {
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.caslon-ffmeta {
    width: 30vw;
    padding: 10px;
}

.caslon-p22 {
    padding: 10px;
    width: 40vw;
}

.caslon-sofia {
    padding: 10px;
    width: 40vw;
}

.caslon-p22 h1 {
    font-family: "mrs-eaves-xl-serif";
    font-size: 46px;
    line-height: 40px;
    font-weight: 800;
    color: black;
}

.caslon-p22 p {
    font-family: 'p22-underground', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
    color: black;
}

.caslon-sofia h1 {
    font-family: "metronic-slab-narrow";
    font-size: 46px;
    line-height: 40px;
    font-weight: 700;
    color: black;
}

.caslon-sofia p {
    font-family: "sofia-pro", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    color:#333;
}
